stages:
  - build
  - test

variables:
  PYTHON_VERSION: "3.12"

build_docker:
  stage: build
  image: docker:24.0.5
  script:
    - echo "Installing project dependencies with uv...TODO"
    - docker build -t kgpipe .
  rules:
    - changes:
        - src/**/*
        - scripts/**/*
        - pyproject.toml
        - .gitlab-ci.yml

test_docker:
  stage: test
  image: docker:24.0.5
  script:
    - docker run --rm kgpipe --help