version: "3.9"

services:

  syskg:
    image: openlink/virtuoso-opensource-7:latest
    restart: unless-stopped
    tty: true
    stdin_open: true
    environment:
      - DBA_PASSWORD=mysecret
    ports:
      - "18890:8890"
    volumes:
      - syskg-data:/data
    networks:
      - kgpipe

  cache:
    image: redis
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    ports:
      - "16379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - kgpipe

  dbpedia-spotlight:
    image: local/spotlight
    restart: unless-stopped
    command: ["spotlight.sh", "en"]
    volumes:
      - spotlight-model:/opt/spotlight
    networks:
      - kgpipe

volumes:
  spotlight-model:
  redis-data:
  syskg-data:

networks:
  kgpipe:
    name: kgpipe
